body {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

* {
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: 700;
  color: orange;
}

p,
a {
  font-weight: 400;
}

nav a {
  /* background-image: linear-gradient(135deg, #fdd819 10%, #e80505 100%); */
  background-color: green;
}

.fa-dumpster-fire {
  color: green;
}

.routelink {
  color: white;
  cursor: pointer;
}
