body {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

/* *, *::before, *::after {
  box-sizing:border-box;
} */

/* header {
  box-sizing: border-box;
  /* overflow: -moz-hidden-unscrollable;
}*/

header {
  box-sizing: border-box;
}

nav a{
  margin-right: 0 !important;
}

h1,
h2 {
  font-weight: 700;
  color: orange;
}

p,
a {
  font-weight: 400;
}

nav a {
  /* background-image: linear-gradient(135deg, #fdd819 10%, #e80505 100%); */
  background-color: green;
}

.fa-dumpster-fire {
  color: green;
}

.routelink {
  color: white;
  cursor: pointer;
}

@font-face {
  font-family: "Dumpster Font";
  src: url("https://file.coffee/u/wjbUplcu2sXPDi.ttf") format("truetype");
}
.dumpster-font {
  font-family: "Dumpster Font", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

#instagram-embed-0 {
  margin: auto !important;
}

img {
  opacity: 1 !important;
}

.share-button {
  color:#212121;
  cursor:pointer;
}

@media (prefers-color-scheme: dark) {
  .share-button {
    color: #DCDCDC;
  }
}